<div class="rate_table" data-rate-table-vehicle-nid="48">
  <div class="rate_table_header">
    <h4 class="rate_table_title">Labor Rates</h4>
    <div class="rate_table_header_tab_section mdc-tab-bar">
      <div class="rate_table_header_tab_elucid mdc-tab mdc-tab--active">Elucid Site<br/>Labor Rates</div>
      <div class="rate_table_header_tab_onsite mdc-tab">Government Site<br/>Labor Rates</div> 
      <span class="mdc-tab-bar__indicator"></span>
    </div>
  </div>
  <div class="rate_table_body">
    <div class="rate_table_body_filter_section">
      <div class="rate_table_filter">
        <div class="rate_table_filter_icon">
          <img class="inlinesvg" src="/modules/custom/rate_table/images/filter-icon.svg"/>
        </div>
        <label for="demo-input">Filter labor categories</label>
        <input type="text" class="rate_table_filter_input" id="demo-input">
      </div>
      <div class="rate_table_num">
        <label class="rate_table_num_label">Number of labor categories per page</label>
        <div class="rate_table_num_select">
          <div class="rate_table_select_icon">
            <img class="inlinesvg" src="/modules/custom/rate_table/images/down-arrow-icon.svg"/>
          </div>
          <select class="rate_table_num_select_select">
            <option class="rate_table_num_select_option" value="10">10</option>
            <option class="rate_table_num_select_option" value="25">25</option>
            <option class="rate_table_num_select_option" value="50">50</option>
            <option class="rate_table_num_select_option" value="100">100</option>
          </select>
        </div>
      </div>
    </div>
    <div class="rate_table_body_table_section">
      <table class="rate_table_table table table-striped">
        <thead>
          <tr>
            <th rowspan="2" class="rate_table_table_header_category">Labor Category</th>
            <th colspan="10" class="rate_table_table_header_year">Contract Year</th>
          </tr>
          <tr>
            <th class="rate_table_column_header" data-rate-table-year="2012">7/2012 -<br/>7/2013</th>
            <th class="rate_table_column_header" data-rate-table-year="2013">7/2013 -<br/>7/2014</th>
            <th class="rate_table_column_header" data-rate-table-year="2014">7/2014 -<br/>7/2015</th>
            <th class="rate_table_column_header" data-rate-table-year="2015">7/2015 -<br/>7/2016</th>
            <th class="rate_table_column_header" data-rate-table-year="2016">7/2016 -<br/>7/2017</th>
            <th class="rate_table_column_header" data-rate-table-year="2017">7/2017 -<br/>7/2018</th>
            <th class="rate_table_column_header" data-rate-table-year="2018">7/2018 -<br/>7/2019</th>
            <th class="rate_table_column_header" data-rate-table-year="2019">7/2019 -<br/>7/2020</th>
            <th class="rate_table_column_header" data-rate-table-year="2010">7/2020 -<br/>7/2021</th>
            <th class="rate_table_column_header" data-rate-table-year="2021">7/2021 -<br/>7/2022</th>
          </tr>
        </thead>
        <tbody class="rate_table_table_body">
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="rate_table_footer">
    <div class="rate_table_pagination">
      <div class="rate_table_pagination_first">First</div><div class="rate_table_pagination_prev">Prev</div><div class="rate_table_pagination_links"></div><div class="rate_table_pagination_next">Next</div><div class="rate_table_pagination_last">Last</div>
    </div>
    <div class="rate_table_index"></div>
  </div>
</div>
