<div class="rate_table">
  <div class="rate_table_header">
    <div class="rate_table_header_tab_section">
      <div class="rate_table_header_tab_elucid">Elucid Site Labor Rates</div>
      <div class="rate_table_header_tab_onsite">Government Site Labor Rates</div> 
    </div>
  </div>
  <div class="rate_table_body">
    <div class="rate_table_body_filter_section">
      <div class="rate_table_num">
        <div class="rate_table_num_item" data-rate-table-num="10">10</div>
        <div class="rate_table_num_item" data-rate-table-num="25">25</div>
        <div class="rate_table_num_item" data-rate-table-num="50">50</div>
        <div class="rate_table_num_item" data-rate-table-num="100">100</div>
      </div>
      <div class="rate_table_filter"></div>
    </div>
    <div class="rate_table_body_table_section">
      <table class="rate_table_table">
        <thead>
          <tr>
            <th rowspan="2">Description</th>
            <th colspan="10">Contract Year</th>
          </tr>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
          </tr>
        </thead>
        <tbody class="rate_table_table_body">
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="rate_table_footer">
    <div class="rate_table_pagination">
      <div class="rate_table_pagination_first"></div>
      <div class="rate_table_pagination_prev"></div>
      <div class="rate_table_pagination_links"></div>
      <div class="rate_table_pagination_next"></div>
      <div class="rate_table_pagination_last"></div>
    </div>
  </div>
</div>
