/*
  Defines the Capabilities page specific styles.
*/
[data-elucid-page-node-id="20475"],
[data-elucid-page-path-alias="/capabilities"] {
  @include styleguide;

  [data-elucid-base-plugin-id="page_title_block"] {
    text-align: center;
    h1 {
      background-image: url('../images/svg-header-background.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: cover;
      color: white;
      display: inline-block;
      font-style: italic;
      font-weight: 400;
      margin-bottom: 0;
      max-width: 350px;
      padding: 5px 25px 5px 20px;
    }
  }
  .elucid_section_header {
    text-align: center;
    width: 100%;
    .elucid_section_title {
      background-image: url('../images/svg-header-background.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: cover;
      color: white;
      display: inline-block;
      font-style: italic;
      font-weight: 400;
      margin-bottom: $margin-large;
      max-width: 350px;
      padding: 8px 25px 10px 20px;
      text-transform: uppercase;
    }
  }
  .capability_list {
    display: table;
    .capability_list_item {
      display: table-row;
      .capability_list_item_icon {
        @include mobile(width, 64px);
        display: table-cell;
        width: 90px;
        img {
          @include mobile(width, 64px);
          padding-top: 0;
          width: 90px;
        }
      }
      .capability_list_item_content {
        @include mobile(padding, 0 0 $margin-med 15px);
        display: table-cell;
        padding: 0 0 30px $margin-large;
        vertical-align: top;
        .capability_list_item_header {
          @include mobile(font-size, 16px);
          color: #e74131;
          font-size: 22px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }
  }
}
