/*
  Defines the front page specific styles.
*/
[data-elucid-page-view-id="frontpage"],
[data-elucid-page-path-alias="/capabilities"] {
  @include styleguide;

  $ribbon-height: 80px;
  $ribbon-mobile-height: 37px;
  $ribbon-tablet-height: ($ribbon-height - $ribbon-mobile-height)/2 + $ribbon-mobile-height;
  .elucid_clients_ribbon {
    // Note: the SVG image must have 'preserveAspectRatio="none"'.
    @include responsive(height, $ribbon-height, $ribbon-tablet-height, $ribbon-mobile-height);
    @include responsive(background-size, 101% ($ribbon-height + 3), 101% ($ribbon-tablet-height + 3), 101% ($ribbon-mobile-height + 3));
    background-image: url('../images/svg-divider-below-capabilities.svg');
    background-repeat: no-repeat;
    position: absolute;
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%);
    width: 100%;
    z-index: 10;
  }
}
