/*
  This stylesheet defines styles applied
  specifically to the NITAAC contract page.
*/
[data-elucid-page-path-alias="/contract-vehicles/nitaac"] {
  @include styleguide;

  .nitaac {
    a {
      @include a;
    }
    h2 {
      color: $red;
      font-size: 22px;
      font-weight: 400;
    }
    ul {
      @include strip-margins;
      li {
        list-style: none;
      }
    }
    .nitaac-intro {
      margin-bottom: 30px;
    }
    .nitaac-summary {
      margin-bottom: 30px;
    }
    .nitaac-areas {
      margin-bottom: 20px;
    }
    .nitaac-manager {
      margin-bottom: 30px;
    }
    .nitaac-contracts {
      line-height: $margin-large;
      margin-bottom: 30px;
      ul {
        margin-bottom: $margin-large;
        a {
          display: inline-block;
          padding-left: 30px;
          position: relative;
          &:before {
            @include icon("../images/download-icon.svg", 20px, 20px, inline-block);
            position: absolute;
            left: 0;
            top: 5px;
          }
        }
        a:hover {
          color: $blue-dark;
          text-decoration: none;
          &:before {
            @include icon("../images/download-icon-active.svg", 20px, 20px, inline-block);
          }
        }
      }
    }
    .nitaac-categories {
      margin-bottom: $margin-large;
      ul {
        line-height: $margin-large;
        a {
          &:before {
            @include icon("../images/download-icon.svg", 20px, 20px, inline-block);
            margin-right: $margin-small;
          }
        }
        a:hover {
          color: $blue-dark;
          text-decoration: none;
          &:before {
            @include icon("../images/download-icon-active.svg", 20px, 20px, inline-block);
          }
        }
      }
    }
  }
}
