<div class="portfolio-v2 isotope-item margin-bottom-30">      
   <div class="portfolio-content">
      <div class="image">
         {{ fields.field_image.content }}
      </div>   
     
      <div class="content-inner">
         <div class="title"> 
            {{ fields.title.content }}
         </div> 
         <div class="summary">
            {{ fields.body.content }}
         </div> 
         <div class="category">
            {{ fields.field_portfolio_tags.content }}
         </div>  
      </div>    
  
   </div>
</div>