<div class="dh-container portfolio-carousel portfolio-v1 isotope-item grid">      
   {{ fields.field_image.content }}
   <div class="portfolio-content dh-overlay">
      <div class="content">
         <div class="content-inner">
            <div class="title"> 
               {{ fields.title.content }}
            </div>  
            <div class="category">
               {{ fields.field_portfolio_tags.content }}
            </div>  
         </div>    
      </div>
   </div>
</div>