$theme-color: 		#EB866A;
$image-theme-path-base: '../../../images/';
$base-theme-image-path:'../../../images/';
$theme-font-path: '../../../fonts/';
$icon-font-path: '../../../fonts/';

$link-hover-color:      #EB866A;
$brand-primary:  #EB866A;