/*
  This stylesheet defines the default styles
  for accordion elements.
*/

.accordion {
  border: 1px solid rgba(210, 210, 210, 100);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  margin-top: $margin-small;
  margin-bottom: $margin-med;

  .accordion_item {
    .accordion_item_header {
      border-bottom: 1px solid rgba(210, 210, 210, 100);
      color: #525252;
      cursor: pointer;
      display: table;
      border-collapse: collapse;
      width: 100%;
      .accordion_item_header_middle {
        display: table-cell;
        padding: 15px 0px 15px 20px;
      }
      .accordion_item_header_right {
        display: table-cell;
        text-align: center;
        width: 30px;
      }
    }
    .accordion_item_header:hover{
      background-color: #edfcff;
      color: $default-link-hover-color;
      .accordion_item_header_right {
        svg {
          path {
            fill: $default-link-hover-color;
          }
        }
      }
    }
    .accordion_item_body {
      border-bottom: 1px solid rgba(210, 210, 210, 100);
      padding: 10px 20px 30px 20px;
      width: 100%;
    }
    &.accordion_expanded {
      .accordion_item_header {
        color: $default-link-color;
        .accordion_item_header_right {
          svg {
            transform: rotate(180deg);
            path {
              fill: $default-link-color;
            }
          }
        }
      }
    }
  }
}
