/*
  This stylesheet defines styles shared by all banner blocks.
*/
[data-elucid-base-plugin-id="banner_block"] {
  $banner_block_height: 315px;
  $banner_block_mobile_height: 260px;
  .banner_block_banner {
    @include mobile(height, $banner_block_mobile_height);
    height: $banner_block_height;
    text-align: center;
    .banner_block_banner_overlay {
      @include mobile(min-width, 300px);
      color: white;
      display: inline-block;
      font-style: italic;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 70px; // fine-tuned vertical centering.
      .elucid_banner_header {
        @include mobile(font-size, 28px);
        @include mobile(height, 40px);
        @include mobile(margin, 0 0 $margin-small);
        @include mobile(max-width, 330px);
        @include mobile(line-height, 40px);
        background-image: url('../images/homepage_banner_title_background.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        height: 52px;
        font-weight: 600;
        font-size: 38px;
        line-height: 52px;
        margin: 0 $margin-med $margin-small;
        max-width: 430px; // fine-tuned
	width: 100vw;
      }
      .elucid_banner_subheader {
        @include mobile(font-size, 28px);
        @include mobile(letter-spacing, 1.9px);
        font-weight: 300;
        font-size: 30px;
        letter-spacing: 3px;
        max-width: 570px; // fine-tuned
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	width: 100vw; 
      }
    }
  }
}
