/*
  This stylesheet defines styles shared by the
  Contact Us blocks.
*/
#block-contactusblock {
  background-color: $blue;
  color: white;
  padding-bottom: $margin-large;
  .contact-us {
    .contact-us-content {
      text-align: center;
      span {
        @include mobile(display, block);
        padding: $margin-med 0;
        margin: 0;
      }
      .contact-us-link {
        @include button;
        @include mobile(margin-left, 0);
        background: white;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25), 0 2px 6px 0 rgba(0, 0, 0, 0.15);
        cursor: pointer;
        font-weight: bold;
        margin-left: $margin-large;
        padding: $margin-xsmall $margin-large;
        &:hover {
          background-color: $blue-light;
          color: $blue-dark;
          text-decoration: none;
        }
      }
    }
  }
}
