/*
  The stylesheet defines the styles used by the
  credentials block.
*/
#block-credentials-block {
  background-color: #2d2d2d;

  .credentials {
    @extend .layout-padded-content;
    padding: $margin-large 42px; // tuned to ensure that the content area is 940px.

    .credentials-content {
      display: table;
      width: 100%;

      .credentials-icons {
        display: table-row;

        .credentials-icon {
          display: table-cell;
          text-align: center;
          &:first-of-type {
            text-align: left;
          }
          &:last-of-type {
            text-align: right;
          }
        }
      }
    }
  }
}
