/*
  The stylesheet defines the styles used by the
  credentials block.
*/
#block-credentials-block {
  background-color: #2d2d2d;

  .credentials {
    @extend .layout-padded-content;
    padding: $margin-med 42px; // tuned to ensure that the content area is 940px.

    .credentials-content {
      @include mobile(display, block);
      display: table;
      width: 100%;

      .credentials-icons {
        @include mobile(display, block);
        display: table-row;

        .credentials-icon {
          @include mobile(display, block);
          display: table-cell;
          padding: $margin-med 0;
          text-align: center;

          &:first-of-type {
            @include mobile(text-align, center);
            text-align: left;
          }
          &:last-of-type {
            @include mobile(text-align, center);
            text-align: right;
          }
        }
      }
    }
  }
}
