/*
  This stylesheet defines the styles for the
  page footer.
*/
footer {
  background-color: $gray-dark;
  color: #d0d0d0;
  .footer_content {
    @include tablet(display, block);
    padding-top: 34px;
    padding-bottom: 60px;
    @include tablet(text-align, center);
    width: 100%;
    ul {
      @include strip-margins;
      li {
        list-style-type: none;
        a {
          color: white;
          &:hover {
            color: $blue;
            text-decoration: none;
          }
        }
      }
    }
    .footer_top {
      [data-elucid-base-plugin-id="system_menu_block"] {
        ul {
          display: flex;
          @include tablet(display, none);
          min-height: 60px;
          justify-content: space-between;
        }
      }
    }
    .footer_med {
      @include tablet(display, block);
      .footer_med_left {
        @include tablet(display, block);
        vertical-align: top;
        .footer_med_left_mobile_nav {
          display: none;
          @include tablet(display, block);
          li {
            margin-bottom: 15px;
          }
        }
        .company_info {
          .elucid_bold {
            @include mobile(padding-top, 15px);
            color: white;
            display: inline-block;
            padding-bottom: 15px;
            padding-top: 0px;
          }
          @media screen and (max-width: $tablet-breakpoint) {
            .elucid_phone {
              display: inline-block;
              padding-bottom: 21px;
            }
          }
          a {
            color: #d0d0d0;
            &:hover {
              color: $blue;
              text-decoration: none;
            }
          }
        }
      }
      .footer_med_right {
        @include tablet(display, block);
        vertical-align: top;
      }
    }
    .footer_bottom {
      @include tablet(display, block);
      .footer_bottom_left {
        margin-bottom: 23px;
        @include tablet(display, block);
        float: left;
        @include tablet(float, none);
        img {
          max-width: 100%;
          width: 309px;
        }
        a {
          color: #d0d0d0;
          &:hover {
            color: $blue;
            text-decoration: none;
          }
        }
      }
      .footer_bottom_right {
        @include tablet(display, block);
        float: right;
        @include tablet(float, none);
        .credits {
          text-align: right;
          @include tablet(text-align, center);
        }
      }
    }
  }
}
