body{
  overflow-x: hidden;
  &.boxed{ 
    max-width: 1440px;  
    margin: 0 auto;
    @include box-shadow(0px 5px 5px rgba(0, 0, 0, 0.15));
    background-color: #efefef;
    div.body-page{
      background: $white;
    }
  }
}

.container{
  max-width: 100%;
  .container{
    width: 100%!important;
  }
}

.topbar{
  background: #333333;
  color: #999999;
  font-size: 12px;
  padding: 15px 0;
  @media(max-width: $screen-xs-max){
    display: none;
  }
  i{
    color: $theme-color;
    font-size: 14px;
    &:hover{
      color: $white;
    }
  }
  .block{
    margin: 0!important;
  }
}

header{
  .header-main{
    padding: 30px 0;
    background: $white; 
  }
  .site-branding-logo{
    padding: 30px 0 0;
    display: inline-block;
    max-height: 80px;
    @media(max-width: $screen-md-max){
      padding: 10px 0!important;
    }
  }
  @media(max-width: $screen-sm-max){
    .site-branding{
      text-align: left;
      padding-bottom: 10px;
    }
    .header-right-inner, .header-right-inner .block{
      text-align: center!important;
    }
  }
  .header-main{
    padding: 0;
    background: none;
  }
  .area-main-menu{
    .navigation{
      position: static;
      ul.gva_menu{
        position: static;
      }
    }
    .area-inner{
      padding-left: 40px;
    }
    .gva-search-region{
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -13px;
      z-index: 9;
      @media(max-width: $screen-sm-max){
        margin-top: -5px;
        top: 30px;
        right: 85px;
        .icon{
          color: $black!important;
        }
      }
      .icon{
        font-size: 14px;
        color: $white;
        &:hover{
          cursor: pointer;
        }
      }
      .search-content{ 
        display: none;
        width: 275px;
        position: absolute;
        top: 43px;
        right: 0;
        margin-top: -1px;
        z-index: 99;
        background: $white;
        padding: 20px;
        @include box-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
        input#edit-keys{
          height: 35px;
          padding: 5px;
          border: 1px solid $border-color;
          background: none;
        }
      }
      &.show{
        .search-content{
          display: block;
        }
      }
    }
  }
  .block{
    overflow: visible;
  }
}

header.header-v1{
  position: relative;
  background: $white;
  .site-branding-logo{
    padding-top: 15px;
  }
  .gva-search-region{
    .icon{
      color: $black;
    }
  }
  .header-inner{
    padding-right: 22px;
  }
}  

header.header-v2{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  z-index: 99;
  margin-top: 2px;
  .gva-search-region{
    .icon{
      color: $white!important;
    }
  }
  @media(max-width: $screen-sm-max){
    position: static;
    .gva-search-region{
      .icon{
        color: $black!important;
      }
    }
  }
  .site-branding-logo{
    padding-top: 25px;
  }
  
  .header-inner{
    padding-right: 40px;
  }
  .navigation .gva_menu > li > a{
    color: $white;
  }
  .stuck{
    .navigation .gva_menu > li > a{
      color: $black!important;
      &:hover{
        color: $theme-color!important;
      }
    }
  }
}

header.header-v3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: $nocolor;
  margin-top: 2px;
  .header-main-inner{
    margin-top: 30px;
    background: $white;
    @include border-radius(3px);
    padding: 0 20px;
  }
  .stuck{
    .header-main-inner{
      margin-top: 0;
    }
  }
  .site-branding-logo{
    padding-top: 9px;
  }
  .gva-search-region{
    right: 15px;
    .icon{
      color: $black;
    }
  }
  .navigation .gva_menu > li > a{
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .header-inner{
    padding-right: 20px;
  }
}  

.logged-in{
  header.header-v2{
    top: 60px;
  }
}

.stuck {
  position:fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  @include box-shadow(0 0 5px 5px rgba(0, 0, 0, 0.1));
  &.header-main{
    background: $white;
    padding-top: 0!important;
    .site-branding-logo{
      padding: 10px 0!important;
    }
    .gva-search-region .icon{
      color: $black!important;
    }
  }
}

.content-full{
   overflow: hidden;
}

div[class*='-md-6'].main-content{
    .post-slider.v2 .views-field-body{
      display: none!important;
    }
}

.area{
  &.highlighted{

  }
  &.slideshow_content{
    .block{
      margin-bottom: 0;
    }
  }
}

.area-panel{
  padding: 30px 0;
}

.header-right{
  .block{
    margin-bottom: 0;
  }
}

.promotion{
  padding: 0;
  margin-bottom: 0;
}

.main-menu{
  .area-main-menu{
    .area-inner{
      .block{
        margin-bottom: 0;
      }
    }  
  }
}  

.sidebar{
  position: relative;
}

.footer{
  color: #ccc;
  margin-top: -1px;
  a{
    color: #ccc;
    &:hover{
      color: $theme-color;
    }
  }
  .footer-top{
    background: #fff;
    padding: 20px 0;
    .block{
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  .footer-center{
    padding: 45px 0 15px;
    background: url('#{$base-theme-image-path}/bg-footer.jpg') repeat center center $nocolor;
    color: #ccc;
    line-height: 28px;

    .block{
      .block-title{
        border: none;
        span{
          color: $white!important;  
        }
      }  
    }
  }
}

.copyright{
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background: url('#{$base-theme-image-path}/bg-footer.jpg') repeat center center $nocolor;
  a{
    &:hover{
      color: $theme-color;
    }
  }
  .copyright-inner{
    padding: 30px 0;
    border-top: 1px solid $border-color;
    .block{
      margin: 0;
    }
  }
}

