<article class="item service-node-v2" data-thumbs="{{ fields.title.content|striptags|trim }}">      
   <div class="service-content">

      <div class="service-image text-center">  
         {{ fields.field_service_image.content }}
      </div>  
   
      <div class="content">
         <div class="content-inner">
            {{ fields.body.content }}
         </div>
         <div class="node-link">
            {{ fields.view_node.content }}
         </div>    
      </div>
         
   </div>

</article>