<article class="item service-node-v1" data-thumbs="{{ fields.title.content|striptags|trim }}">      
   <div class="service-content">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
         <div class="service-image text-center">  
            {{ fields.field_service_image.content }}
         </div>  
      </div> 
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
         <div class="content-inner">
            {{ fields.body.content }}
         </div>
         <div class="node-link">
            {{ fields.view_node.content }}
         </div>    
      </div>
   </div>
</article>