/*
  This stylesheet provides default styles for
  the Banner blocks.
*/
.banner_block .banner_block_banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .banner_block .banner_block_banner .banner_block_banner_overlay {
    /*
          -webkit-transform: translate(-50%, -50%);
          transform: translateX(-50%) translateY(-50%);
          left: 50%;
          position: absolute;
          top: 50%;
    */ }
