/*
  This module defines the default styling for
  Header Menu elements.
*/
.header_menu_drupal_menu {
  display: none; }

.header_menu_widescreen_view ul,
.header_menu_mobile_view ul {
  margin: 0;
  padding: 0; }
.header_menu_widescreen_view li,
.header_menu_mobile_view li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.header_menu_widescreen_view .header_menu_widescreen_view_menu_component {
  display: table;
  width: 100%; }
  .header_menu_widescreen_view .header_menu_widescreen_view_menu_component .header_menu_menu_list[data-menu-level="0"] {
    display: table-row;
    height: 80px;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%; }
    .header_menu_widescreen_view .header_menu_widescreen_view_menu_component .header_menu_menu_list[data-menu-level="0"] .header_menu_menu_item[data-menu-level="0"] {
      display: table-cell;
      float: none;
      text-align: center;
      vertical-align: middle; }
    .header_menu_widescreen_view .header_menu_widescreen_view_menu_component .header_menu_menu_list[data-menu-level="0"] .header_menu_menu_item[data-menu-level="1"] {
      display: none; }
.header_menu_widescreen_view .header_menu_widescreen_view_dropdown_component .header_menu_menu_list[data-menu-level="1"] {
  background-color: white;
  margin: 0;
  position: absolute;
  z-index: 100; }
  .header_menu_widescreen_view .header_menu_widescreen_view_dropdown_component .header_menu_menu_list[data-menu-level="1"] .header_menu_menu_item[data-menu-level="1"] {
    width: 200px; }
.header_menu_widescreen_view .header_menu_widescreen_view_dropdown_component .header_menu_menu_list[data-menu-level="2"] {
  display: block;
  width: 100%; }

.header_menu_mobile_view {
  background-color: white;
  display: none; }
  .header_menu_mobile_view .header_menu_mobile_view_header {
    background-color: #00adee;
    cursor: pointer;
    width: 100%; }
    .header_menu_mobile_view .header_menu_mobile_view_header:hover {
      background-color: #3571a1; }
    .header_menu_mobile_view .header_menu_mobile_view_header .header_menu_mobile_view_title {
      color: white;
      text-align: center; }
  .header_menu_mobile_view .header_menu_mobile_view_collapsible {
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    display: none;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 100; }
    .header_menu_mobile_view .header_menu_mobile_view_collapsible .header_menu_mobile_view_body .header_menu_mobile_view_slide_container {
      position: relative;
      overflow: hidden; }
      .header_menu_mobile_view .header_menu_mobile_view_collapsible .header_menu_mobile_view_body .header_menu_mobile_view_slide_container .header_menu_mobile_view_slide {
        position: absolute;
        width: 100vw; }
        .header_menu_mobile_view .header_menu_mobile_view_collapsible .header_menu_mobile_view_body .header_menu_mobile_view_slide_container .header_menu_mobile_view_slide .header_menu_mobile_view_slide_back_button {
          cursor: pointer; }
        .header_menu_mobile_view .header_menu_mobile_view_collapsible .header_menu_mobile_view_body .header_menu_mobile_view_slide_container .header_menu_mobile_view_slide .header_menu_mobile_view_slide_item {
          cursor: pointer;
          width: 100%; }
    .header_menu_mobile_view .header_menu_mobile_view_collapsible .header_menu_mobile_view_footer {
      width: 100%; }
      .header_menu_mobile_view .header_menu_mobile_view_collapsible .header_menu_mobile_view_footer .header_menu_mobile_view_close_button {
        cursor: pointer;
        text-align: center; }

@media screen and (max-width: 950px) {
  .header_menu_widescreen_view {
    display: none; }

  .header_menu_mobile_view {
    display: block; } }
