<div class="portfolio-carousel gallery-post no-margin text-center">  
   <a data-rel="prettyPhoto[g_gal]" class="link-image" href="{{fields.field_gallery_image_1.content|striptags|trim}}">
      {{ fields.field_gallery_image.content }}
   </a>

</div>