{% if attributes -%}
   <div id="gva-images-carousel" {{ attributes.addClass('slider-gallery-v1') }}>
{% endif %}

   {% for row in rows %}
         <div class="gallery-large carousel-item">
            <div class="item content">{{ row.content }}</div>
         </div>
      {% endfor %}  

{% if attributes -%}
    </div>
{% endif %}


