<div class="portfolio-carousel gallery-post text-center margin-bottom-30"> 
   <div class="image">{{ fields.field_gallery_image.content }}</div>
   <a data-pid="{{row.index + 1}}" class="link-image gva-swipe-image-item gva-swipe-image-item-number gva-swipe-image-item-thumb" href="{{fields.field_gallery_image_1.content|striptags|trim}}"><i class="gv-icon-471"></i></a>
</div>