<div class="portfolio-carousel gallery-post text-center"> 
   <div class="image">{{ fields.field_gallery_image.content }}</div>
   <a data-rel="prettyPhoto[g_gal]" class="link-image" href="{{fields.field_gallery_image_1.content|striptags|trim}}"><i class="gv-icon-471"></i></a>
</div>